*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed;
}

.voltar{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 1rem;
}

body{
    background-color: #343A40;
    color: white;
}

/*NavBar*/
ul li{
    list-style: none;
    margin-left: 10px;
    padding: 10px;
}

ul li a{
    color: white;
}

ul{
    display: flex;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 1.2rem;
    width: 100%;
}


/*NavBar*/

.corTextoMenu{
    color: rgba(255, 255, 255, 0.795)
}

/* Acender branco passar mouse em cima*/
a:hover{
    color: #17a2b8;
    transition: all;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

.corParagrafos{
    color: white;
    font-family: Roboto Condensed;
    font-weight: 300;
}

li> a{ /*Transition no menu*/
    transition-timing-function: ease;
    transition-duration: 1s;
}

.tamanhoFontMenu{
    font-size: 1.2rem;
}

span{
    color: #17a2b8;
    font-weight: 700;
}

.paragrafosEsquerda{
    text-align: left;

}

.divApresentacao{
    width: 500px;
}

.fotosTecnologias{
    width: 100px;

}

.afastamentoDaNavbar{
    margin-top: 7rem;
}

.certificadosTamanho{
    width: 200px;

}

.tamanhoFonteCertificado{
    font-size: 20px;
}

.divRodape{
    background-color: #26292c;
    height: 300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
}

.divRodape div img{
    max-width: 200px;
    border-radius: 2rem;
    border: 2px solid #6d7277;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.384);
}

.contato{
    font-size: 2rem;
}


.listaRodape{
    display: block;
}

@media (max-width: 540px ){

    .menu{
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    ul{
       display: flex;
       justify-content: center;
       margin-top: 30px;
    }

    .afastamentoDaNavbar{
        margin-top: 0px;
    }

    .menu div p{
        font-size: 25px;
        margin-top: 32px;
    }
    
    .col-4, .col{/*Tirar o relative, deixa o position  fixed por cima (BOTAO inicio)*/
        position: initial;
    }

    .divRodape{
        background-color: #26292c;
        display: block;
        text-align: center;
        width: 100%;
        height: 65vh;
    }
}